.main-vg {
    background-image: url('../img/main-vg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-vg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section {
    min-height: 100vh;
    padding-top: 4rem;
    padding-bottom: 5.5rem;
}

.menu-spacing{
    height: 65px;
}

body.full-width{
    width: 100%;
    flex: 1 1 100%;
}